<form #form="ngForm" (ngSubmit)="onSubmit()">
  <label for="name">Full name</label>
  <input
    type="text"
    required
    minlength="3"
    placeholder="(minimum 3 characters)"
    id="name"
    name="name"
    [(ngModel)]="fullName"
  />
  <label for="address">Address</label>
  <input
    type="text"
    required
    minlength="6"
    placeholder="(minimum 6 characters)"
    id="address"
    name="address"
    [(ngModel)]="address"
  />
  <label for="card">Credit card number</label>
  <input
    type="text"
    required
    minlength="16"
    maxlength="17"
    placeholder="(16-digit number)"
    id="card"
    name="card"
    [(ngModel)]="creditCard"
    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
  />
  <button [disabled]="form.invalid" type="submit">Submit</button>
</form>
